:root {
  --theme-color-white: #fff;
  --theme-font-primary: "Arial";
  --theme-font-secondary: "Helvetica";
  --theme-font-sans-serif: "sans-serif";
  --theme-color-bot: "#00B2B2";
  --theme-color-bot-font: "#4c4c4c";
}
